@import "tailwindcss";

/* estos son los estilos globales, aqui se crean las variables globales para colores, etc. lo ideal es usar para todo tailwindcss*/

@theme {
  --color-headerbg: #F8F8F8;
  --color-primarygreen: #20DF6C;
  --color-borderheader: #589972;
}